<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express To-Do</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Add Skill</h1>
    <form method="POST" action="/skills/add_skill">
        <div>
            <input type="text" name="skillDescription" />
        </div>
        <button type="submit">Create new skill</button>
    </form>
</body>

</html>